<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435090572114-9nms43ekaj6gq3i40ntb7ctlhim9ossb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435090572114-9nms43ekaj6gq3i40ntb7ctlhim9ossb</string>
	<key>API_KEY</key>
	<string>AIzaSyCJxdUX5u4IpZaP7HDbk6E9Rq-edxUUtgk</string>
	<key>GCM_SENDER_ID</key>
	<string>435090572114</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tempositions.ewa</string>
	<key>PROJECT_ID</key>
	<string>employee-mobile-access</string>
	<key>STORAGE_BUCKET</key>
	<string>employee-mobile-access.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435090572114:ios:c3c8a227d8368d06</string>
	<key>DATABASE_URL</key>
	<string>https://employee-mobile-access.firebaseio.com</string>
</dict>
</plist>