<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EWA.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
				<key>dateExpires</key>
				<string>3/9/22</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ANLoader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ActiveLabel.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>CropViewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>DropDown.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>ExpyTableView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKCoreKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKLoginKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FBSDKShareKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FSCalendar.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookLogin.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FacebookShare.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCore.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCoreDiagnostics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseCrashlytics.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstallations.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseInstanceID.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>FirebaseMessaging.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>HMSegmentedControl.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManagerSwift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>JVFloatLabeledTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>KMPlaceholderTextView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MXPagerView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MXParallaxHeader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>MXSegmentedPager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>PDFReader.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SideMenuController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SkyFloatingLabelTextField.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>SwiftyJSON.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast_Swift.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>6AF06A4667FC908CE93E5F3940A56379134D0C2A</string>
						<key>dateExpires</key>
						<string>3/9/22</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>9W2GMX4LS3</string>
						<key>name</key>
						<string>TemPositions, Inc.</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>9W2GMX4LS3.com.tempositions.ewa</string>
				<key>aps-environment</key>
				<string>development</string>
				<key>com.apple.developer.icloud-container-environment</key>
				<string>Production</string>
				<key>com.apple.developer.icloud-container-identifiers</key>
				<array>
					<string>iCloud.com.tempositions.ewa</string>
				</array>
				<key>com.apple.developer.icloud-services</key>
				<array>
					<string>CloudDocuments</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>9W2GMX4LS3</string>
				<key>com.apple.developer.ubiquity-container-identifiers</key>
				<array>
					<string>iCloud.com.tempositions.ewa</string>
				</array>
				<key>com.apple.developer.ubiquity-kvstore-identifier</key>
				<string>9W2GMX4LS3.com.tempositions.ewa</string>
				<key>get-task-allow</key>
				<true/>
				<key>keychain-access-groups</key>
				<array>
					<string>9W2GMX4LS3.com.NFC.EWA</string>
				</array>
			</dict>
			<key>name</key>
			<string>EWA.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c5e52f92-d776-4bd3-93a8-09a2872164fc</string>
				<key>name</key>
				<string>TemPositions_EWA</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>9W2GMX4LS3</string>
				<key>name</key>
				<string>TemPositions, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
